<div id="bg">
  <header class="button-container">
    <button
      mat-flat-button
      class="button"
      color="accent"
      (click)="logCollection()"
    >
      Log Collection
    </button>
    <button mat-flat-button class="button" color="primary" (click)="utility()">
      Utility
    </button>
    <button
      mat-flat-button
      class="button"
      color="accent"
      (click)="toggleShowInactives()"
    >
      Show Inactives
    </button>
  </header>
  <main class="container" cdkDropListGroup>
    <div class="inside-setlist-container">
      <ul *ngIf="songs && songs?.length > 0">
        <div
          cdkDropList
          id="in-list"
          [cdkDropListData]="inSet"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <li
            cdkDrag
            id="{{ song.song }}"
            class="text example-box"
            *ngFor="let song of inSet$ | async"
          >
            {{ song.order+1 }}. {{ song.song }} - {{ song.artist }} -
            {{ songLengthConversionDisplay(song.duration) }}
          </li>
        </div>
      </ul>
    </div>

    <div class="outside-setlist-container">
      <ul *ngIf="songs && songs?.length > 0">
        <div
          cdkDropList
          id="out-list"
          [cdkDropListData]="outSet"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <li
            cdkDrag
            id="song.song"
            class="text example-box"
            *ngFor="let song of outsideSet$ | async"
          >
            {{ song.song }} - {{ song.artist }} -
            {{ songLengthConversionDisplay(song.duration) }}
          </li>
        </div>
      </ul>
    </div>

    <div class="inactive-container" *ngIf="showInactives">
      <ul *ngIf="songs && songs?.length > 0">
        <div
          cdkDropList
          id="inactive-list"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <li
            cdkDrag
            id="song.song"
            class="text example-box"
            *ngFor="let song of outsideSet$ | async"
          >
            {{ song.song }} - {{ song.artist }} -
            {{ songLengthConversionDisplay(song.duration) }}
          </li>
        </div>
      </ul>
    </div>
  </main>
</div>
